$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$display-value: flex, block, grid, none;

@mixin make-display($breakpoint: null) {
    $infix: if($breakpoint, "-#{$breakpoint}", "");

    @each $display in $display-value {
        .d#{$infix}-#{$display} {
            display: $display !important;
        }
    }
}

@include make-display();

@each $breakpoint, $dimension in $breakpoints {
    @media (max-width: ($dimension - 0.02px)) {
        @include make-display($breakpoint);
    }
}
